/* BODY */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f6f2;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 40px;

    background: linear-gradient(
        to right,
        rgba(46, 125, 50, 0.25),
        rgba(255, 255, 255, 0.8),
        rgba(169, 50, 50, 0.25)
    );

    border-bottom: 1px solid rgba(0,0,0,0.1);
}


/* LOGO BOX */
.logo {
    display: flex;
    flex-direction: column;

    border: 2px solid rgba(255,255,255,0.8);
    padding: 12px 22px;
    border-radius: 12px;

    background-color: rgba(255,255,255,0.3);
}


/* TITOLO */
.logo h1 {
    margin: 0;
    color: #2e7d32;
    font-size: 2.5rem;
}


/* SOTTOTITOLO */
.cucina {
    margin-top: 6px;

    border: 1px solid rgba(0,0,0,0.1);
    padding: 6px 14px;
    border-radius: 8px;

    background-color: rgba(255,255,255,0.6);

    color: #333;
    font-weight: 500;
}


/* MENU */
.menu ul {
    display: flex;
    gap: 30px;

    list-style: none;
    margin: 0;
    padding: 0;
}


/* LINK */
.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;

    transition: 0.3s;
}


/* HOVER */
.menu a:hover {
    color: #a93232;
}


/* CONTAINER PIATTI */
.container-piatti {
    display: flex;
    gap: 30px;
    padding: 40px;
}


/* CARD */
.card {
    flex: 1;

    background-color: white;

    padding: 25px;

    border-radius: 12px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.08);

    transition: 0.3s;
}


/* HOVER CARD */



/* TITOLI PIATTI */
.card h2 {
    margin-top: 0;
    color: #2e7d32;
}
.contatti-box{
    padding: 20px;
}
.contatti-container{
    padding: 50px;
    
}
.menu-container{
    padding: 20px;
}